body {
  color: #2a2b2e;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  font-family: Roboto Slab, "sans-serif";
  font-size: 16px;
  display: flex;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #97939a;
  padding: 25px 100px;
}

main {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
  height: 100%;
  overflow-y: scroll;
}

h1 {
  color: #fff;
  margin: 0;
  font-family: Roboto Slab, "serif";
  font-size: 56px;
  font-weight: normal;
}

h2 {
  color: #979696;
  font-family: Roboto Slab, "serif";
  font-weight: normal;
}

svg {
  background-color: #fff;
}

button {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  outline: 0;
  padding: 10px 30px;
  font-family: Helvetica, "sans-serif";
  font-size: 16px;
}

button:hover, button:active {
  background: #f6f6f6 linear-gradient(#f6f6f6 5%, #fff 100%);
}

.title, .axis-text {
  transform-origin: center;
  transform-box: fill-box;
  text-anchor: middle;
}

.viz-container {
  padding: 0 10px;
}

.page {
  scroll-snap-align: start;
  height: 100%;
}

.graph {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

#home {
  background-image: url("background-image-1.364f2482.jfif");
  background-size: cover;
}

#intro {
  display: flex;
}

#intro-text {
  background: #ebebeb;
  width: 40%;
  padding: 5em;
}

#intro-text-2, #intro-text-5 {
  color: #ebebeb;
  background: #000;
  width: 40%;
  padding: 5em;
}

.background {
  background-color: #0000;
  background-image: linear-gradient(to right, #0000 80%, #ebebeb), url("background-image-2.ea72e067.jpg");
  background-position: center;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  width: 60%;
}

.background-off {
  background-color: #0000;
  background-image: linear-gradient(to left, #0000 80%, #000), url("background-image-3.dd154d01.jpg");
  background-position: center;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  width: 60%;
}

.background-def {
  background-color: #0000;
  background-image: linear-gradient(to right, #0000 80%, #000), url("background-image-4.5af7e024.jpg");
  background-position: center;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  width: 60%;
}

.background-masse-salariale {
  background-color: #0000;
  background-image: linear-gradient(to left, #0000 80%, #000), url("background-image-5.e21b4a52.jpg");
  background-position: center;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  width: 60%;
}

#background-6 {
  background-color: #0000;
  background-image: linear-gradient(to left, #0000 80%, #000), url("background-image-6.d07a7f31.jpg");
  background-position: center;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  width: 60%;
}

.home-title {
  background: linear-gradient(#0000, #000);
  width: 100%;
  height: 30%;
  display: flex;
}

.home-title > * {
  align-self: flex-end;
}

#chart-eff-svg1, #chart-eff-svg2, #chart-eff-svg3 {
  display: inline-block;
}

.info {
  pointer-events: none;
  font-family: Roboto;
}

.axis text {
  cursor: default;
  transform-box: fill-box;
  transform-origin: center;
  font-family: Roboto;
}

.axis path, .axis line {
  stroke: #362023;
}

.graph.radarchart {
  flex-direction: column-reverse;
}

.graph.scatterplot {
  white-space: nowrap;
  flex-direction: row;
}

.first-rank {
  color: #daa520;
}

.second-rank {
  color: silver;
}

.third-rank {
  color: brown;
}

#chart-rank, #scatter {
  justify-content: center;
  align-items: center;
  display: flex;
}
/*# sourceMappingURL=juventus-stats.a5210753.css.map */
